:root{
    --main-color: #ffffff;
    --main-links-color:#2196F3;
    --studio-header-color: #000000;
    --link-description-color:#212121;
    --adress-benefits-color: #757575;
    --hero-footer-bgc:#2F303A;
    --filtres-btn-color:#F5F4FA;
}

/* ------------------------------------COMMON STYLES------------------------------------ */
.whole-site {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

/* ------------------------------------COMMON STYLES------------------------------------ */

/* ------------------------------------HEADER FOOTER------------------------------------ */

/* HEADER */
.webstudio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
}

.web {
    color: var(--main-links-color);
}

.studio-header {
    color: var(--studio-header-color);
}

.links-list {
    list-style: none;
}

.link-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--link-description-color);
}

.link-item:hover, .link-item:focus {
    color: var(--main-links-color);
}

.header-adress {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--adress-benefits-color);
    text-decoration: none;
}

.header-adress:hover,
.header-adress:focus {
    color: var(--main-links-color);
}

/* HEADER */



/* FOOTER */

.studio-footer {
    color: var(--main-color);
}

.whole-bottom {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background-color: var(--hero-footer-bgc);
}

.phisical-adress {
    font-style: normal;
    
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--main-color);

}

.footer-adress {
    font-style: normal;
    
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* FOOTER */

/* ------------------------------------HEADER FOOTER------------------------------------ */






/* ------------------------------------MAIN PAGE------------------------------------ */

/* HERO */
.hero {
    background-color: var(--hero-footer-bgc);
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
}

.hero-button {
/* btn */
    width: 216px;
    height: 50px;
    border: none;
    background: var(--main-links-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
/* btn txt */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;   
    color: var(--main-color);
/*  */
    display: flex;
    justify-content: center;
}

/* HERO */





/* BENEFITS */

.benefits-list {
    list-style: none;
}

.benefits-item {
    font-size: 14px;
    letter-spacing: 0.03em;
}

.benefits-title {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: var(--link-description-color);}

.benefits {   
    line-height: calc(24/14);   
    color: var(--adress-benefits-color);
}

/* BENEFITS */





/* RESPONSIBILITIES */

/* .responsibilities {} */

.responsibilities-list {
    list-style: none;
}

/* .responsibilities-item {} */

/* .our-team {} */

/* RESPONSIBILITIES */




/* OUR TEAM */

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--link-description-color);
}


.our-team-list {
    list-style: none;
}

.our-team-item {
    width: 270px;
    font-style: normal;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
} 

.name { 
    color: var(--link-description-color);
    font-weight: 500;
}

.position {     
    color: var(--adress-benefits-color);
    
}

/* OUR TEAM */

/* ------------------------------------MAIN PAGE------------------------------------ */



/* ------------------------------------PORTFOLIO------------------------------------ */

/* FILTRES */
.filtres {
    list-style: none;
}

.filtres-items {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    color: var(--link-description-color);
}

.filtres-buttons {
    /* btn styles */
    border:none;
    border-radius: 4px;
    border-color: var(--filtres-btn-color);
    background-color: var(--filtres-btn-color);
    height: 38px;
    padding: 6px 22px 6px 22px;
    /* btn txt styles */
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);    
    text-align: center;
    letter-spacing: 0.03em;  
    color: var(--link-description-color);
}

.filtres-buttons:hover,
.filtres-buttons:focus {
    background: var(--main-links-color)3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--main-color);
}

/* FILTRES */



/* PRODUCTS */

.products-list {
    list-style: none;
}

.product-name {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--link-description-color);
}

.product-class {   
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--adress-benefits-color);
}

/* PRODUCTS */

/* ------------------------------------PORTFOLIO------------------------------------ */